<footer class="p-1 mb-2 bg-dark text-white">

  <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
        <a href="https://www.facebook.com/maki.maeda.3745"> Maki Maeda</a>
    </div>
  <!-- Copyright -->

</footer>